
.nav{

    background-color: rgb(161, 95, 95);
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    align-items: center;

    
}
.menu-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 3rem;
    color: white;
    flex-grow: 0.2px;
    padding-left: 5%;
    padding-right: 10%;
    
}

#menu-bar{
    font-size: 4rem;
    padding-right: 10%;
    cursor: pointer;
    display: none;
}



@media only screen and (max-width: 700px){
    #menu-bar{
    display: block;

    }
    .menu-right a{
        position: absolute;
    top:100%; left: 0; right:0;
    background: #f7f7f7;
    border-top: .1rem solid rgba(0,0,0,.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .nav .active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    .menu-right a{
        margin: 1.5rem;
        padding:1.5rem;
        display: block;
        border:.2rem solid rgba(0,0,0,.1);
        border-left:.5rem solid red;
        background:#fff;

    }

}